{% extends '_partials/base.html' %}
{% load static %}

 {% block title %}
 ToDo:{{todo.title}}
 {% endblock title %}

{% block content %}

    <img src="{% static 'logo.png' %}" alt="" />
    <h3>Edit todo</h3>

    <form method="POST" action="{% url 'todo-edit' todo.id %}" class="ui form" >
    {% csrf_token %}
    {{form.as_p}}

        <input type="submit" class="ui button primary" value="Edit">
        <a href="{% url 'todo-detiles' todo.id %}"> Cancel</a>

    </form>



    {% endblock content %}
